<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{!-- An example input option --}}

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.accessKey.label"}}{{field-required}}
        </label>
          {{input
            type="text"
            class="form-control"
            value=config.accessKeyId
            placeholder=(t "nodeDriver.aliyunecs.accessKey.placeholder")
          }}
      </div>
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.accessKeySecret.label"}}{{field-required}}
        </label>
          {{input
            type="password"
            class="form-control"
            value=config.accessKeySecret
            placeholder=(t "nodeDriver.aliyunecs.accessKeySecret.placeholder")
          }}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.instanceType.label"}}
        </label>
        {{input
          type="text"
          classNames="form-control"
          content=instanceTypes
          value=config.instanceType
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.systemImage.label"}}
        </label>
        {{input
          type="text"
          classNames="form-control"
          content=images
          optionValuePath="value"
          value=config.imageId
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.vswitchId.label"}}
        </label>
        {{input
          type="text"
          classNames="form-control"
          content=filteredVSwitches
          value=config.vswitchId
          prompt="nodeDriver.aliyunecs.vswitchId.prompt"
          localizedPrompt=true
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label">
          {{t "nodeDriver.aliyunecs.securityGroup.label"}}
        </label>
        {{input
          type="text"
          classNames="form-control"
          content=securityGroups
          value=config.securityGroup
          prompt="nodeDriver.aliyunecs.securityGroup.prompt"
          localizedPrompt=true
        }}
      </div>
    </div>





    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
